In [18]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [15]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%sql postgresql://postgres:accident_analysis@localhost:5432/accident_analysis

In [ ]:
%%sql
CREATE TABLE accident_analysis(
  "accident_id" int,
  "police_force" int,
  "number_of_vehicles" int,
  "number_of_casualties" int,
  "date" date,
  "day_of_week" varchar,
  "time" time,
  "local_authority_district" varchar,
  "local_authority_highway" varchar,
  "first_road_class" varchar,
  "first_road_number" varchar,
  "road_type" varchar,
  "speed_limit" int,
  "second_road_class" varchar,
  "second_road_number" varchar,
  "pedestrian_crossing_human_control" varchar,
  "pedestrian_crossing_physical_facilities" varchar,
  "light_conditions" varchar,
  "weather_conditions" varchar,
  "road_surface_conditions" varchar,
  "special_conditions_at_site" varchar,
  "carriageway_hazards" varchar,
  "rural_urban_area" varchar,
  "police_present_at_scene" varchar,
  "state" varchar,
  "postcode" varchar,
  "country" varchar
)

 * postgresql://postgres:***@localhost:5432/accident_analysis
Done.

[]

In [12]:
%%sql

SET datestyle TO 'ISO, DMY';

COPY accident_analysis(
  "accident_id",
  "police_force",
  "number_of_vehicles",
  "number_of_casualties",
  "date",
  "day_of_week",
  "time",
  "local_authority_district",
  "local_authority_highway",
  "first_road_class",
  "first_road_number",
  "road_type",
  "speed_limit",
  "second_road_class",
  "second_road_number",
  "pedestrian_crossing_human_control",
  "pedestrian_crossing_physical_facilities",
  "light_conditions",
  "weather_conditions",
  "road_surface_conditions",
  "special_conditions_at_site",
  "carriageway_hazards",
  "rural_urban_area",
  "police_present_at_scene",
  "state",
  "postcode",
  "country"
)
FROM '/Users/shirleymalefane/Desktop/Accidents_Analysis/accident_riskcsv.csv'
DELIMITER ','
CSV HEADER

 * postgresql://postgres:***@localhost:5432/accident_analysis
Done.
(psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type boolean: "2"
CONTEXT:  COPY accident_analysis, line 9, column rural_urban_area: "2"

[SQL: COPY accident_analysis(
  "accident_id",
  "police_force",
  "number_of_vehicles",
  "number_of_casualties",
  "date",
  "day_of_week",
  "time",
  "local_authority_district",
  "local_authority_highway",
  "first_road_class",
  "first_road_number",
  "road_type",
  "speed_limit",
  "second_road_class",
  "second_road_number",
  "pedestrian_crossing_human_control",
  "pedestrian_crossing_physical_facilities",
  "light_conditions",
  "weather_conditions",
  "road_surface_conditions",
  "special_conditions_at_site",
  "carriageway_hazards",
  "rural_urban_area",
  "police_present_at_scene",
  "state",
  "postcode",
  "country"
)
FROM '/Users/shirleymalefane/Desktop/Accidents_Analysis/accident_riskcsv.csv'
DELIMITER ','
CSV HEADER]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [ ]:
%%sql
INSERT INTO "country" ("country")
SELECT DISTINCT "country"
FROM WillMo
WHERE "country" NOT IN (SELECT "country" FROM "country");

 * postgresql://postgres:***@localhost:5432/willmo
9 rows affected.

[]

In [ ]:
%%sql
INSERT INTO "state" ("state", "country_id")
SELECT DISTINCT "state", 
       (SELECT "country_id" FROM "country" WHERE "country" = aa."country")
FROM accident_analysis aa
WHERE "state" NOT IN (SELECT "state" FROM "state")
AND EXISTS (SELECT 1 FROM "country" WHERE "country" = aa."country");

 * postgresql://postgres:***@localhost:5432/willmo
20 rows affected.

[]

In [ ]:
%%sql
INSERT INTO "postcode" ("postcode")
SELECT DISTINCT "postcode"
FROM accident_analysis
WHERE "postcode" NOT IN (SELECT "postcode" FROM "postcode");

In [ ]:
%%sql
INSERT INTO "state_postcode_map" ("state_id", "postcode_id")
SELECT DISTINCT
       (SELECT "state_id" FROM "state" WHERE "state" = aa."state"),
       (SELECT "postcode_id" FROM "postcode" WHERE "postcode" = aa."postcode")
FROM accident_analysis aa
WHERE EXISTS (SELECT 1 FROM "state" WHERE "state" = aa."state")
  AND EXISTS (SELECT 1 FROM "postcode" WHERE "postcode" = aa."postcode")
  AND NOT EXISTS (
    SELECT 1 FROM "state_postcode_map" 
    WHERE "state_id" = (SELECT "state_id" FROM "state" WHERE "state" = aa."state")
    AND "postcode_id" = (SELECT "postcode_id" FROM "postcode" WHERE "postcode" = aa."postcode")
  );

 * postgresql://postgres:***@localhost:5432/willmo
19 rows affected.

[]

In [ ]:
%%sql

INSERT INTO "first_road" ("first_road_class", "first_road_number")
SELECT DISTINCT "first_road_class", "first_road_number"
FROM "accident_analysis"
WHERE ("first_road_class", "first_road_number") NOT IN (
  SELECT "first_road_class", "first_road_number"
  FROM "first_road"
);

In [ ]:
%%sql

INSERT INTO "second_road" ("second_road_class", "second_road_number")
SELECT DISTINCT "second_road_class", "second_road_number"
FROM "accident_analysis"
WHERE ("second_road_class", "second_road_number") NOT IN (
  SELECT "second_road_class", "second_road_number"
  FROM "second_road"
);

In [ ]:
%%sql
INSERT INTO "road_map" ("first_road_id", "second_road_id")
SELECT DISTINCT
       (SELECT "first_road_id" FROM "first_road" WHERE "first_road_class" = aa."first_road_class" AND "first_road_number" = aa."first_road_number"),
       (SELECT "second_road_id" FROM "second_road" WHERE "second_road_class" = aa."second_road_class" AND "second_road_number" = aa."second_road_number")
FROM accident_analysis aa
WHERE EXISTS (SELECT 1 FROM "first_road" WHERE "first_road_class" = aa."first_road_class" AND "first_road_number" = aa."first_road_number")
  AND EXISTS (SELECT 1 FROM "second_road" WHERE "second_road_class" = aa."second_road_class" AND "second_road_number" = aa."second_road_number")
  AND NOT EXISTS (
    SELECT 1 FROM "road_map" 
    WHERE "first_road_id" = (SELECT "first_road_id" FROM "first_road" WHERE "first_road_class" = aa."first_road_class" AND "first_road_number" = aa."first_road_number")
    AND "second_road_id" = (SELECT "second_road_id" FROM "second_road" WHERE "second_road_class" = aa."second_road_class" AND "second_road_number" = aa."second_road_number")
  );

 * postgresql://postgres:***@localhost:5432/willmo
20 rows affected.

[]

In [ ]:
%%sql
INSERT INTO "road_type" ("road_type")
SELECT DISTINCT "road_type"
FROM accident_analysis
WHERE "road_type" NOT IN (SELECT "road_type" FROM "road_type");

 * postgresql://postgres:***@localhost:5432/willmo
19 rows affected.

[]

In [ ]:
%%sql
INSERT INTO "speed_limit" ("speed_limit")
SELECT DISTINCT "speed_limit"
FROM accident_analysis
WHERE "speed_limit" NOT IN (SELECT "speed_limit" FROM "speed_limit");

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [ ]:
%%sql
INSERT INTO "pedestrain_crossing_hc" ("pedestrian_crossing_human_control")
SELECT DISTINCT "pedestrian_crossing_human_control"
FROM accident_analysis
WHERE "pedestrian_crossing_human_control" NOT IN (SELECT "pedestrian_crossing_human_control" FROM "pedestrain_crossing_hc");

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [ ]:
%%sql

INSERT INTO "pedestrain_crossing_pf" ("pedestrian_crossing_physical_facilities")
SELECT DISTINCT "pedestrian_crossing_physical_facilities"
FROM accident_analysis
WHERE "pedestrian_crossing_physical_facilities" NOT IN (SELECT "pedestrian_crossing_physical_facilities" FROM "pedestrain_crossing_pf");

In [ ]:
%%sql

INSERT INTO "light_conditions" ("light_conditions")
SELECT DISTINCT "light_conditions"
FROM accident_analysis
WHERE "light_conditions" NOT IN (SELECT "light_conditions" FROM "light_conditions");

In [ ]:
%%sql

INSERT INTO "weather_conditions" ("weather_conditions")
SELECT DISTINCT "weather_conditions"
FROM accident_analysis
WHERE "weather_conditions" NOT IN (SELECT "weather_conditions" FROM "weather_conditions");

In [ ]:
%%sql
INSERT INTO "road_surface_conditions" ("road_surface_conditions")
SELECT DISTINCT "road_surface_conditions"
FROM accident_analysis
WHERE "road_surface_conditions" NOT IN (SELECT "road_surface_conditions" FROM "road_surface_conditions");

In [ ]:
%%sql
INSERT INTO "special_conditions_at_site" ("special_conditions_at_site")
SELECT DISTINCT "special_conditions_at_site"
FROM accident_analysis
WHERE "special_conditions_at_site" NOT IN (SELECT "special_conditions_at_site" FROM "special_conditions_at_site");

In [ ]:
%%sql
INSERT INTO "carriage_hazards" ("carriage_hazards")
SELECT DISTINCT "carriage_hazards"
FROM accident_analysis
WHERE "carriage_hazards" NOT IN (SELECT "carriage_hazards" FROM "carriage_hazards");

In [ ]:
%%sql
INSERT INTO "urban_rural_area" ("urban_rural_area")
SELECT DISTINCT "urban_rural_area"
FROM accident_analysis
WHERE "urban_rural_area" NOT IN (SELECT "urban_rural_area" FROM "urban_rural_area");

In [ ]:
%%sql

INSERT INTO "accidents" (
  "accident_id", 
  "number_of_vehicles", 
  "number_of_casualties", 
  "date", 
  "time", 
  "day_of_week", 
  "police_present_at_scene", 
  "police_force", 
  "postcode_id", 
  "pedestrian_crossing_human_control_id", 
  "pedestrian_crossing_physical_facilities_id", 
  "light_conditions_id", 
  "weather_conditions_id", 
  "road_surface_conditions_id", 
  "special_conditions_at_site_id", 
  "carriageway_hazards_id", 
  "urban_rural_area_id", 
  "first_road_id", 
  "local_authority_highway_id", 
  "speed_limit_id", 
  "road_type_id"
)
SELECT DISTINCT 
  aa."accident_id", 
  aa."number_of_vehicles", 
  aa."number_of_casualties", 
  aa."date", 
  aa."time", 
  aa."day_of_week", 
  aa."police_present_at_scene", 
  aa."police_force", 
  (SELECT "postcode_id" FROM "postcode" WHERE "postcode" = aa."postcode"),
  (SELECT "pedestrian_crossing_human_control_id" FROM "pedestrain_crossing_hc" WHERE "pedestrian_crossing_human_control" = aa."pedestrian_crossing_human_control"),
  (SELECT "pedestrian_crossing_physical_facilities_id" FROM "pedestrain_crossing_pf" WHERE "pedestrian_crossing_physical_facilities" = aa."pedestrian_crossing_physical_facilities"),
  (SELECT "light_conditions_id" FROM "light_conditions" WHERE "light_conditions" = aa."light_conditions"),
  (SELECT "weather_conditions_id" FROM "weather_conditions" WHERE "weather_conditions" = aa."weather_conditions"),
  (SELECT "road_surface_conditions_id" FROM "road_surface_conditions" WHERE "road_surface_conditions" = aa."road_surface_conditions"),
  (SELECT "special_conditions_at_site_id" FROM "special_conditions_at_site" WHERE "special_conditions_at_site" = aa."special_conditions_at_site"),
  (SELECT "carriageway_hazards_id" FROM "carriage_hazards" WHERE "carriage_hazards" = aa."carriage_hazards"),
  (SELECT "urban_rural_area_id" FROM "urban_rural_area" WHERE "urban_rural_area" = aa."urban_rural_area"),
  (SELECT "first_road_id" FROM "first_road" WHERE "first_road_class" = aa."first_road_class" AND "first_road_number" = aa."first_road_number"),
  (SELECT "local_authority_highway_id" FROM "enforcement_highway" WHERE "local_authority_highway" = aa."local_authority_highway"),
  (SELECT "speed_limit_id" FROM "speed_limit" WHERE "speed_limit" = aa."speed_limit"),
  (SELECT "road_type_id" FROM "road_type" WHERE "road_type" = aa."road_type")
FROM accident_analysis aa
WHERE NOT EXISTS (
    SELECT 1 
    FROM "accidents" a 
    WHERE a."accident_id" = aa."accident_id"
);