In [26]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [28]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [29]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [30]:
%sql postgresql://postgres:accident_analysis@localhost:5432/accident_analysis

In [31]:
%%sql
CREATE TABLE accident_analysis(
  "accident_id" int,
  "police_force" int,
  "number_of_vehicles" int,
  "number_of_casualties" int,
  "date" date,
  "day_of_week" varchar,
  "time" time,
  "local_authority_district" varchar,
  "local_authority_highway" varchar,
  "first_road_class" varchar,
  "first_road_number" varchar,
  "road_type" varchar,
  "speed_limit" int,
  "second_road_class" varchar,
  "second_road_number" varchar,
  "pedestrian_crossing_human_control" varchar,
  "pedestrian_crossing_physical_facilities" varchar,
  "light_conditions" varchar,
  "weather_conditions" varchar,
  "road_surface_conditions" varchar,
  "special_conditions_at_site" varchar,
  "carriageway_hazards" varchar,
  "urban_rural_area" varchar,
  "police_present_at_scene" varchar,
  "state" varchar,
  "postcode" varchar,
  "country" varchar
)

 * postgresql://postgres:***@localhost:5432/accident_analysis
Done.

[]

In [32]:
%%sql

SET datestyle TO 'ISO, DMY';

COPY accident_analysis(
  "accident_id",
  "police_force",
  "number_of_vehicles",
  "number_of_casualties",
  "date",
  "day_of_week",
  "time",
  "local_authority_district",
  "local_authority_highway",
  "first_road_class",
  "first_road_number",
  "road_type",
  "speed_limit",
  "second_road_class",
  "second_road_number",
  "pedestrian_crossing_human_control",
  "pedestrian_crossing_physical_facilities",
  "light_conditions",
  "weather_conditions",
  "road_surface_conditions",
  "special_conditions_at_site",
  "carriageway_hazards",
  "urban_rural_area",
  "police_present_at_scene",
  "state",
  "postcode",
  "country"
)
FROM '/Users/tshmacm1171/Desktop/Accidents_Analysis/accident_riskcsv.csv'
DELIMITER ','
CSV HEADER

 * postgresql://postgres:***@localhost:5432/accident_analysis
Done.
478741 rows affected.

[]

In [33]:
%%sql
INSERT INTO "country" ("country")
SELECT DISTINCT "country"
FROM accident_analysis
WHERE "country" NOT IN (SELECT "country" FROM "country");

 * postgresql://postgres:***@localhost:5432/accident_analysis
1 rows affected.

[]

In [34]:
%%sql
INSERT INTO "state" ("state", "country_id")
SELECT DISTINCT "state", 
       (SELECT "country_id" FROM "country" WHERE "country" = aa."country")
FROM accident_analysis aa
WHERE "state" NOT IN (SELECT "state" FROM "state")
AND EXISTS (SELECT 1 FROM "country" WHERE "country" = aa."country");

 * postgresql://postgres:***@localhost:5432/accident_analysis
3 rows affected.

[]

In [35]:
%%sql
INSERT INTO "postcode" ("postcode")
SELECT DISTINCT "postcode"
FROM accident_analysis
WHERE "postcode" NOT IN (SELECT "postcode" FROM "postcode");

 * postgresql://postgres:***@localhost:5432/accident_analysis
95625 rows affected.

[]

In [36]:
%%sql
INSERT INTO "state_postcode_map" ("state_id", "postcode_id")
SELECT DISTINCT s."state_id", p."postcode_id"
FROM accident_analysis aa
JOIN "state" s 
  ON s."state" = aa."state"
JOIN "postcode" p 
  ON p."postcode" = aa."postcode"
LEFT JOIN "state_postcode_map" spm
  ON spm."state_id" = s."state_id" 
     AND spm."postcode_id" = p."postcode_id"
WHERE spm."state_id" IS NULL;

 * postgresql://postgres:***@localhost:5432/accident_analysis
140658 rows affected.

[]

In [37]:
%%sql

INSERT INTO "first_road" ("first_road_class", "first_road_number")
SELECT DISTINCT "first_road_class", "first_road_number"
FROM "accident_analysis"
WHERE ("first_road_class", "first_road_number") NOT IN (
  SELECT "first_road_class", "first_road_number"
  FROM "first_road"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
17017 rows affected.

[]

In [38]:
%%sql

INSERT INTO "second_road" ("second_road_class", "second_road_number")
SELECT DISTINCT "second_road_class", "second_road_number"
FROM "accident_analysis"
WHERE ("second_road_class", "second_road_number") NOT IN (
  SELECT "second_road_class", "second_road_number"
  FROM "second_road"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
5 rows affected.

[]

In [39]:
%%sql

INSERT INTO "road_map" ("first_road_id", "second_road_id")
SELECT DISTINCT
  fr."first_road_id", 
  sr."second_road_id"
FROM accident_analysis aa
JOIN "first_road" fr 
  ON fr."first_road_class" = aa."first_road_class" 
  AND fr."first_road_number" = aa."first_road_number"
JOIN "second_road" sr 
  ON sr."second_road_class" = aa."second_road_class" 
  AND sr."second_road_number" = aa."second_road_number"
WHERE NOT EXISTS (
    SELECT 1 FROM "road_map" rm
    WHERE rm."first_road_id" = fr."first_road_id"
      AND rm."second_road_id" = sr."second_road_id"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
41183 rows affected.

[]

In [40]:
%%sql
INSERT INTO "road_type" ("road_type")
SELECT DISTINCT "road_type"
FROM accident_analysis
WHERE "road_type" NOT IN (SELECT "road_type" FROM "road_type");

 * postgresql://postgres:***@localhost:5432/accident_analysis
6 rows affected.

[]

In [41]:
%%sql
INSERT INTO "speed_limit" ("speed_limit")
SELECT DISTINCT "speed_limit"
FROM accident_analysis
WHERE "speed_limit" NOT IN (SELECT "speed_limit" FROM "speed_limit");

 * postgresql://postgres:***@localhost:5432/accident_analysis
6 rows affected.

[]

In [42]:
%%sql
INSERT INTO "pedestrian_crossing_hc" ("pedestrian_crossing_human_control")
SELECT DISTINCT "pedestrian_crossing_human_control"
FROM accident_analysis
WHERE "pedestrian_crossing_human_control" NOT IN (SELECT "pedestrian_crossing_human_control" FROM "pedestrian_crossing_hc");

 * postgresql://postgres:***@localhost:5432/accident_analysis
3 rows affected.

[]

In [43]:
%%sql

INSERT INTO "pedestrian_crossing_pf" ("pedestrian_crossing_physical_facilities")
SELECT DISTINCT "pedestrian_crossing_physical_facilities"
FROM accident_analysis
WHERE "pedestrian_crossing_physical_facilities" NOT IN (SELECT "pedestrian_crossing_physical_facilities" FROM "pedestrian_crossing_pf");

 * postgresql://postgres:***@localhost:5432/accident_analysis
6 rows affected.

[]

In [44]:
%%sql

INSERT INTO "light_conditions" ("light_conditions")
SELECT DISTINCT "light_conditions"
FROM accident_analysis
WHERE "light_conditions" NOT IN (SELECT "light_conditions" FROM "light_conditions");

 * postgresql://postgres:***@localhost:5432/accident_analysis
5 rows affected.

[]

In [45]:
%%sql

INSERT INTO "weather_conditions" ("weather_conditions")
SELECT DISTINCT "weather_conditions"
FROM accident_analysis
WHERE "weather_conditions" NOT IN (SELECT "weather_conditions" FROM "weather_conditions");

 * postgresql://postgres:***@localhost:5432/accident_analysis
9 rows affected.

[]

In [46]:
%%sql
INSERT INTO "road_surface_conditions" ("road_surface_conditions")
SELECT DISTINCT "road_surface_conditions"
FROM accident_analysis
WHERE "road_surface_conditions" NOT IN (SELECT "road_surface_conditions" FROM "road_surface_conditions");

 * postgresql://postgres:***@localhost:5432/accident_analysis
6 rows affected.

[]

In [47]:
%%sql
INSERT INTO "special_conditions_at_site" ("special_conditions_at_site")
SELECT DISTINCT "special_conditions_at_site"
FROM accident_analysis
WHERE "special_conditions_at_site" NOT IN (SELECT "special_conditions_at_site" FROM "special_conditions_at_site");

 * postgresql://postgres:***@localhost:5432/accident_analysis
9 rows affected.

[]

In [48]:
%%sql
INSERT INTO "carriageway_hazards" ("carriageway_hazards")
SELECT DISTINCT "carriageway_hazards"
FROM accident_analysis
WHERE "carriageway_hazards" NOT IN (SELECT "carriageway_hazards" FROM "carriageway_hazards");

 * postgresql://postgres:***@localhost:5432/accident_analysis
6 rows affected.

[]

In [49]:
%%sql
INSERT INTO "urban_rural_area" ("urban_rural_area")
SELECT DISTINCT "urban_rural_area"
FROM accident_analysis
WHERE "urban_rural_area" NOT IN (SELECT "urban_rural_area" FROM "urban_rural_area");

 * postgresql://postgres:***@localhost:5432/accident_analysis
2 rows affected.

[]

In [50]:
%%sql
INSERT INTO "accidents" (
  "accident_id", 
  "number_of_vehicles", 
  "number_of_casualties", 
  "date", 
  "time", 
  "day_of_week", 
  "police_present_at_scene", 
  "police_force", 
  "postcode_id", 
  "pedestrian_crossing_human_control_id", 
  "pedestrian_crossing_physical_facilities_id", 
  "light_conditions_id", 
  "weather_conditions_id", 
  "road_surface_conditions_id", 
  "special_conditions_at_site_id", 
  "carriageway_hazards_id", 
  "urban_rural_area_id", 
  "first_road_id", 
  "local_authority_highway_id", 
  "speed_limit_id", 
  "road_type_id"
)
SELECT 
  aa."accident_id", 
  aa."number_of_vehicles", 
  aa."number_of_casualties", 
  aa."date", 
  aa."time", 
  aa."day_of_week", 
  aa."police_present_at_scene", 
  aa."police_force", 
  p."postcode_id",
  pchc."pedestrian_crossing_human_control_id",
  pcpf."pedestrian_crossing_physical_facilities_id",
  lc."light_conditions_id",
  wc."weather_conditions_id",
  rsc."road_surface_conditions_id",
  scs."special_conditions_at_site_id",
  ch."carriageway_hazards_id",
  ura."urban_rural_area_id",
  fr."first_road_id",
  eh."local_authority_highway_id",
  sl."speed_limit_id",
  rt."road_type_id"
FROM accident_analysis aa
JOIN "first_road" fr 
  ON fr."first_road_class" = aa."first_road_class" 
  AND fr."first_road_number" = aa."first_road_number"
LEFT JOIN "postcode" p 
  ON p."postcode" = aa."postcode"
LEFT JOIN "pedestrian_crossing_hc" pchc 
  ON pchc."pedestrian_crossing_human_control" = aa."pedestrian_crossing_human_control"
LEFT JOIN "pedestrian_crossing_pf" pcpf 
  ON pcpf."pedestrian_crossing_physical_facilities" = aa."pedestrian_crossing_physical_facilities"
LEFT JOIN "light_conditions" lc 
  ON lc."light_conditions" = aa."light_conditions"
LEFT JOIN "weather_conditions" wc 
  ON wc."weather_conditions" = aa."weather_conditions"
LEFT JOIN "road_surface_conditions" rsc 
  ON rsc."road_surface_conditions" = aa."road_surface_conditions"
LEFT JOIN "special_conditions_at_site" scs 
  ON scs."special_conditions_at_site" = aa."special_conditions_at_site"
LEFT JOIN "carriageway_hazards" ch 
  ON ch."carriageway_hazards" = aa."carriageway_hazards"
LEFT JOIN "urban_rural_area" ura 
  ON ura."urban_rural_area" = aa."urban_rural_area"
LEFT JOIN "enforcement_highway" eh 
  ON eh."local_authority_highway" = aa."local_authority_highway"
LEFT JOIN "speed_limit" sl 
  ON sl."speed_limit" = aa."speed_limit"
LEFT JOIN "road_type" rt 
  ON rt."road_type" = aa."road_type"
LEFT JOIN "accidents" a 
  ON a."accident_id" = aa."accident_id"
WHERE a."accident_id" IS NULL

 * postgresql://postgres:***@localhost:5432/accident_analysis
478741 rows affected.

[]